<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="displayimage"></ion-back-button>
          </ion-buttons>
      <ion-title>Entity Analysis</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let entity of entityData">
          <ion-label>
            <ion-row>
              <ion-col class="titles" size="3">
                  <h2 style="font-size:18px"> <b> Name </b> </h2>
                  <h2 style="font-size:18px"> <b> Type </b> </h2>
                  <h2 style="font-size:18px"> <b> Score </b> </h2>
              </ion-col>
              <ion-col class="data">
                  <h2 style="font-size:18px; color:grey"> <b> {{ entity.text }} </b></h2>
                  <h2 style="font-size:18px">{{ entity.type }}</h2>
                  <ion-progress-bar class="confidence" value={{entity.confidence}} color="medium"> </ion-progress-bar> 
                  <p class="score"> {{ entity.confidence }} </p> 
              </ion-col>
            </ion-row> 
          </ion-label>
        </ion-item>
      </ion-list>

    <ion-button round color="dark" (click)="goToSuccess()" class="button"> Submit </ion-button>  
</ion-content>
