<ion-header>
  <ion-toolbar color="dark">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="displayimage"></ion-back-button>
        </ion-buttons>
    <ion-title>Your Image Text</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-card" *ngIf="imageText">
      <ion-textarea class="ion-editable" [(ngModel)]="imageText"></ion-textarea>
  </ion-card>
  <ion-button color="dark" (click)="goToSuccessPage()" class="button"> Submit </ion-button>  
</ion-content>
