.ion-container {
    --padding-top: 30px;
}

.image {
    margin-bottom: 30px;
}

.button {
    --border-radius: 60px;
    --padding-bottom: 25px;
    --padding-top: 25px;
    width: 40%;
    display: block;
    position: relative;
    float: none;
    margin: auto;
}